{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin
{% endblock %}

{% block body %}

	<div class="banner">
		<strong class="alert-success">Bonjour, vous êtes connecté</strong>
	</div>
	<h1>Dashboard Admin</h1>


{% endblock %}
